.dashboard {
  display: flex;
  width: 100%;
  max-height: 100vh;
}

.transformation-tools {
  width: 25%;
  color: white;
  background-color: rgb(60, 60, 60);
}

h1 {
  text-align: center;
}

.display-image {
  width: 75%;
  background-color: grey;
}

.image {
  width: 75%;
  height: 75%;
  object-fit: contain;
  overflow: 'hidden';
  background-size: 'contain';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
